body {
  font-family: Helvetica, monospace;
  text-align: center;
  background-color: #4e1889;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.site-title {
  color: #ffffff;
  margin: 0 0 10px;
  font-size: 25px;
  letter-spacing: 6px;
}


hr {
  border-color: white;
  border: 1px solid white;
  width: 100%;
}

.description {
  color: #ffffff;
  font-size: 16px;
}

.input-books {
  padding: 1px;
  text-align: center;
  justify-content: center;
  margin-bottom: 8px;
}


.addBook {
  border-radius: 13px;
  color: rgb(51, 42, 156);
  border: none;
  padding: 6px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.addBook:hover {
  transform: translateY(-5px);
}

body>img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: translateY(-6px);
  border-radius: 20px;
}
